.movie-detail-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.movie-detail-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(4px);
}

.movie-detail-content {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 80px 30px 30px 30px;
    z-index: 2;
}

.movie-detail-img {
    width: 280px;
    border-radius: 10px;
}

.movie-info {
    color: white;
}

.select-group select {
    background: #222;
    color: white;
    padding: 8px 10px;
    border-radius: 6px;
    margin-right: 10px;
}

.schedule button {
    margin-right: 10px;
    margin-top: 10px;
    background: goldenrod;
    border-radius: 12px;
    padding: 8px 15px;
}

.select-group{
    background-color: #333740;
    color: #ffffff;
    text-align: left;
    border-radius: 25px;
    padding: 8px 15px 8px 15px;
    border: none;
    appearance: none;
    cursor: pointer;
    font-weight: 500;
}

.schedule{
    background-color: #333740;
    color: #000000;
    border-radius: 25px;
    padding: 10px; 
    border: none;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn-agregar-carrito {
    border-radius: 16px;
    background-color: #f0f0f0; 
    color: #333;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.back-btn {
    position: absolute; 
    top: 30px;
    left: 30px;
    z-index: 5;      
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.2);
    
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.movie-synopsis {
    position: relative;
    z-index: 2;
    color: #ffffff;
    padding: 0 30px 30px 30px;
    max-width: 1000px;
    margin: 0 auto; 
}

.movie-synopsis h2 {
    margin-top: 20px;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
    display: inline-block;
}

.movie-cinema h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #ffcc00;
    padding-bottom: 5px;
    display: inline-block;
}

.movie-synopsis p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 15px;
    opacity: 0.9;
}
